<app-header></app-header>

<mat-horizontal-stepper [linear]="true" [selectedIndex]="2" (selectionChange)="stepperChanged($event)">
    <mat-step [completed]="true" [editable]="true" label="Выбор трибута"></mat-step>
    <mat-step [completed]="true" [editable]="true" label="Выбор ресурсов"></mat-step>
    <mat-step [completed]="true" label="Подтверждение"></mat-step>
</mat-horizontal-stepper>

<h2>Ошибка оплаты</h2>

<div>
    <button mat-raised-button (click)="retry()">Повторить</button>
    <button mat-raised-button (click)="rechoose()">Выбрать другие ресурсы</button>
    <button mat-raised-button (click)="cancel()">Отменить</button>
</div>