<ng-container *ngFor="let chat of chats">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{chatName(chat)}}</mat-card-title>
            <mat-card-subtitle *ngIf="chat.lastMessage !== null">
                {{chat.lastMessage.dateTime.toLocaleString("ru-RU")}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="chat.lastMessage !== null">
            {{chat.lastMessage.senderName}}: {{chat.lastMessage.message}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [routerLink]="[this.chatLink, chat.chatId]">
                Перейти
            </button>
        </mat-card-actions>
    </mat-card>
    <br/>
</ng-container>
