<app-header></app-header>

<mat-horizontal-stepper [linear]="true" [selectedIndex]="1" (selectionChange)="stepperChanged($event)">
    <mat-step [completed]="true" [editable]="true" label="Оформление"></mat-step>
    <mat-step [completed]="true" label="Подтверждение"></mat-step>
</mat-horizontal-stepper>

<h2>Оплата подтверждена</h2>
<div>Средства заморожены на счете и будут списаны когда модератор одобрит содержимое рекламы для размещения.</div>
<div>Если размещение будет отклонено, средства на счету будут разморожены.</div>