<form id="sponsor" [formGroup]="this.registerForm" (ngSubmit)="register()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Зарегистрироваться как спонсор</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field >
                    <mat-label>Имя</mat-label>
                    <input matInput type="text" id="name" placeholder="Имя" formControlName="name" required minlength="3" maxlength="255" />
                    <mat-error *ngIf="this.registerForm.controls['name'].errors">
                        Имя должно быть между 3 и 250 символами в длину
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Логин</mat-label>
                    <input matInput type="text" id="login" placeholder="Логин" formControlName="login" required />
                    <mat-error *ngIf="this.registerForm.controls['login'].errors">
                        Логин должен быть между 3 и 250 символами в длину
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Пароль</mat-label>
                    <input matInput type="password" id="password" placeholder="Пароль..." formControlName="password"
                        required />
                    <mat-error *ngIf="this.registerForm.controls['password'].errors">
                        Пароль должен быть между 3 и 250 символами в длину
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Подтвердите пароль</mat-label>
                    <input matInput type="password" id="password2" placeholder="Подтвердите пароль..."
                        formControlName="password2" required />
                    <mat-error *ngIf="this.registerForm.controls['password2'].hasError('required')">Подтвердите
                        пароль</mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="this.registerForm.hasError('passwordsNotEqual')">Пароли не совпадают</mat-error>
            <mat-error *ngIf="this.registerError">{{this.registerError}}</mat-error>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button [disabled]="!this.registerForm.valid">Зарегистрироваться</button>
        </mat-card-actions>
    </mat-card>
</form>